{% extends 'base.html' %}

{% block title %}{{ user_obj.get_full_name }}{% endblock %}
{% block menu %}

        {% if request.user.is_authenticated and request.user == user_obj %}
            <a class="nav-link" aria-current="page" href="{% url 'accounts:user_change' request.user.pk %}">Редактировать</a>
            <a class="nav-link" aria-current="page" href="{% url 'accounts:password_change' request.user.pk %}">Смена пароля</a>
        {% endif %}
{% endblock %}

{% block content %}
    <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ user_obj.profile.avatar.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Имя пользователя: {{ user_obj.username }}</h5>
                    <p class="card-text">Имя: {{ user_obj.first_name }}</p>
                    <p class="card-text">Фамилия: {{ user_obj.last_name }}</p>
                    <p class="card-text">Дата рождения: {{ user_obj.profile.birth_date|date:'d.m.Y' }}</p>
                    <p class="card-text">Почта: {{ user_obj.email }}</p>
                </div>
            </div>
        </div>
    </div>
   
    {% include 'partial/article_list.html' %}
    
{% endblock %}